.about-me {
    .technologies-container {
        display: none;
    }
    .contact-me {
        margin-top: 78px;
        font-size: 24px;
        margin-bottom: 50px;
    }
}

// mobile first
@media (min-width: 450px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .about-me {
        .technologies-container {
            display: none;
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .technologies {
            position: absolute;
            top: 49px;
            right: -32px;
            padding-top: 120px;
            img {
                @include transition(0.2, linear);
                width: 200px;
                display: block;
                margin-top: 30px;
                filter: grayscale(100%);
                opacity: 0.115;
                position: absolute;
                &.trio {
                    width: 333px;
                    position: relative;
                }
                &.sass {
                    margin-top: 30px;
                    width: 80px;
                    left: -238px;
                    bottom: 229px;
                }
                &.react {
                    width: 135px;
                    bottom: 94px;
                    left: -170px;
                }
                &.jquery {
                    width: 105px;
                    bottom: -31px;
                    left: -44px;
                }
                &.webpack {
                    width: 130px;
                    bottom: -165px;
                    left: 64px;
                }
            }
        }
        .technologies-in-text {
            @include flex();
            align-items: flex-end;
            overflow: hidden;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        .technologies-image {
            @include transition(0.5, ease-in-out);
            height: 40px;
            float: left;
            margin-right: 20px;
            filter: grayscale(85%);
            &.trio {
                height: 100px;
            }
            &.sass {
                height: 50px;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                filter: grayscale(0%);
            }
        }
    }
}

@media (min-width: 1200px) {}