.home {
    .teaser {
        margin-top: 81px;
        height: 88vh;
        height: calc(100vh - 81px);
        position: relative;
    }
    .teaser-picture {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -2;
        -webkit-filter: grayscale(80%) blur(1px);
        -moz-filter: grayscale(80%) blur(1px);
        -o-filter: grayscale(80%) blur(1px);
        -ms-filter:grayscale(80%) blur(1px);
        filter: grayscale(80%) blur(1px);
        opacity: 0.2;
    }
    .web-template-image {
        height: 800px;
        z-index: -1;
        position: absolute;
        display: none;
    }

    .main-title {
        text-align: center;
        .dynamical {
            @include transitionFree(unquote("visibility 1.2s ease-in-out, opacity 1.2s ease-in-out"));
            height: 0;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            display: block;
            color: white;
            &.active {
                margin-top: 15px;
                height: auto;
                opacity: 1;
                visibility: visible;
                overflow: visible;
            }
        }
    }

    .teaser-text-wrapper {
        height: 88vh;
        height: calc(100vh - 81px);
        @include total-center();
    }
}

// mobile first
@media (min-width: 450px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}