header {
    @include box-shadow(unquote("0px -1px 2px " + $neutral-color + ", inset 0 1px 0 #FFFFFF"));
    position: fixed;
    width: 100%;
    background-color: $main-color;
    z-index: 10;
    left: 0;
    top: 0;
    @at-root .menu-content {
        @include transition(0.35, ease-in-out);
        background-color: $secondary-color;
        color: $main-color;
        position: absolute;
        top: 100%;
        right: -201px;
        width: 200px;
        height: 90%;
        height: calc(100vh - 120px);
        padding: 30px 0;
        border-left: 1px solid $main-color;
        .opened & {
            right: 0;
        }
    }
    .header-wrapper {
        @include flex-center();
        height: 60px;
        position: relative;
    }
    .navigation-list {
        letter-spacing: 1px;   
    }
    @at-root .navigation-link {
        color: $main-color;
        padding: 7px 0;
        display: block;
        text-align: center;
        font-weight: 600;
    }
    @at-root .logo.main {
        color: $secondary-color;
        font-size: 40px;
    }
    .mobile-menu-icon-wrapper {
        @include flex-center();
        position: absolute;
        right: 20px;
        height: 100%;
    }
    .mobile-menu-icon {
        width: 30px;
        height: 16px;
        position: relative;
        &.opened {
            // padding-top: 3px;
        }
        @at-root .mobile-menu-line {
            @include rotate(0);
            @include transition(0.25, ease-in-out);
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: $secondary-color;
            border-radius: 3px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
            &:nth-child(1) {
                top: 0px;
                .opened & {
                    @include rotate(45);
                    top: -3px;
                }
            }
            &:nth-child(2) {
                top: 7px;
                .opened & {
                    width: 0%;
                    opacity: 0;
                }
            }
            &:nth-child(3) {
                top: 14px;
                .opened & {
                    @include rotate(-45);
                    top: 18px;
                }
            }
        }
    }
}

// mobile first
@media (min-width: 450px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    header {
        @include transition(0.3, ease-in);
        transform: translateY(0px);
        opacity: 1;
        @at-root .menu-content {
            background-color: transparent;
            color: $secondary-color;
            position: static;
            top: auto;
            right: auto;
            width: auto;
            height: auto;
            padding: 0;
            border: none;
        }
        &.hidden {
            transform: translateY(-80px);
            opacity: 0;
        }
        .logo.main {
            font-size: 60px;
            font-size: 89px;
            position: absolute;
            bottom: -38px;
            left: -22px;
        }
        .header-wrapper {
            height: 80px;
        }
        .mobile-menu-icon-wrapper {
            display: none;
        }
        .navigation-list {
            .navigation-item {
                position: relative;
                float: left;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .navigation-link {
            font-weight: 500;
        }
        @at-root .navigation-link {
            @include transition(0.3, ease);
            position: relative;
            color: $neutral-color;
            padding: 4px 6px;
            &:after {
                @include transition(0.2, linear);
                position: absolute;
                top: 150%;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                content: '.';
                color: transparent;
                background: $secondary-color;
                height: 1px;
            }
            .active &:after {
                width: 100%;
            }
            &:hover:after {
                width: 100%!important;
            }
            .hovered &:after {
                width: 0%;
            }
        }
        .menu-content {
            @include flex-center-vertical(); // @include flex();
            // align-items: flex-end;
            // -webkit-align-items: flex-end;
            margin-left: auto;
        }
        nav {
            float: left;
        }
    }
}

@media (min-width: 1200px) {}