// mobile first
@media (min-width: 450px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

// mobile first
@media (min-width: 450px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    textarea {
        width: 542px;
        max-width: 542px;
    }
    input {
        width: 250px;
    }
    .grid.center {
        margin: 0 auto;
    }
    main {
        padding-top: 170px;
        padding-bottom: 70px;
        min-height: 76vh;
    }
    .text-container {
        padding: 0 10px;
        width: 75%;
        &.center {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (min-width: 1200px) {}