// mobile first

@media (min-width: 450px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

// mobile first

@media (min-width: 450px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .grid.header-wrapper {
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
}