// non-overriding imports START
@import 'external/reset_reloaded';
// @import 'external/font_awesome';
@import 'shared/global_parts';
@import 'shared/fonts_and_colors';
@import 'shared/typography';
@import 'components/custom_checkbox';
@import 'components/custom_dropdown';
@import 'pages/partials/header';
@import 'pages/partials/footer';
@import 'components/arrow_button';
// non-overriding imports END
main {
    display: block; // IE fix
    padding-top: 60px;
    position: relative;
    @include overflow-hack();
}

a {
    text-decoration: none;
    color: $secondary-color;
}

body {
    font-family: $font-default;
    background-color: $main-color;
    color: $secondary-color;
}

.grid {
    max-width: 1060px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-family: 'mistral';
}

.easy-overlay {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    min-height: 90%;
    min-height: calc(100% - 60px);
    max-width: 1120px;
    background: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .05) 70%);
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .05) 70%);
    z-index: -1;
}

.button-1 {
    background-color: $main-color;
    border-radius: 5px;
    padding: 4px 10px;
}

main {
    padding-top: 95px;
    padding-bottom: 10px;
}

input,
textarea {
    background-color: transparent;
    outline: none;
    border: 2px solid $secondary-color;
    padding: 6px 10px;
    border-radius: 3px;
    display: block;
    color: $neutral-color;
    margin-bottom: 10px;
    font-size: 16px;
    @include placehold {
        color: $neutral-color;
        font-family: $font-default;
        font-size: 16px;
    }
    ;
}

input {
    float: left;
}

textarea {
    clear: both;
    display: block;
}

// imports for override START
@import 'pages/projects';
@import 'pages/about_me';
@import 'pages/contact';
@import 'shared/media';
@import 'shared/media_query';
@import 'shared/bootstrap_grid';
// 'auxiliary_css': pure CSS overrides file for non-sass users
@import 'auxiliary_css';
// imports for override END